@import 'src/App.scss'; 

.navbar {
    background-color: var(--bg-color);
    transition: background-color  1s;
    top: 0;
    padding: 5px 35px;

    /* hover navbar css */
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 2%);
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolled {
    background-color: var(--highlight-color);
    transition: background-color  1s ease-out;
}

 /* navbar content */
.navbar .content {
    text-decoration: none;
}

.navbar .header-items {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar .heading {
    margin-left: 10px;
    inline-size: 200px;    
    color: black;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.8);
}

.navbar .heading:hover {
    color: var(--secondary-color);
}

.navbar .image {
    height: 75px;
    width: auto;
}

/* menu buttons */
.navbar .menu-btn {
    display: none;
}

.navbar .exit-btn {
    display: none;
}

/* menu elements */
.navbar .menu-items {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.8);
}

.navbar .menu-items li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 15px 0 0;
    position: relative;
}

.navbar .menu-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.navbar .menu-elements ul a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-color);
}

.navbar .menu-elements ul a.active {
    position: relative;
}

.navbar .menu-elements ul a.active::after {
    content: '';
    position: absolute;   
}

/* dropdown items */
.navbar .gliding-dropdown {
    background-color: white;
    position: absolute;
    padding: 5px 15px;
    top: calc(120% + 3px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    border-radius: 5px;
}

.navbar .dropdown-items {
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(151, 200, 236, 10%);;
    width: 100%;
    border: 0.5px solid #ccc;
    transition: background-color 0.3 ease;
}

.dropdown-items:hover {
    background-color: #f0f0f0;
}

@media (max-width: $bs-breakpoint-xl) {
    .navbar {
        padding: 5px 10px;
    }

    /* offcanvas menu elements */
    .navbar .menu-btn {
        display: block;
        cursor: pointer;
    }

    .navbar .menu-btn:hover {
        color: var(--secondary-color);
    }

    .navbar .exit-btn {
        display: block;
        cursor: pointer;
    }

    .navbar .exit-btn {
        color: var(--secondary-color);
    }

    .menu-elements .exit-btn {
        position: absolute;
        right: 20px;
        top: 35px;
    }

    /* offcanvas menu slide */
    .menu-elements {
        position: absolute;
        top: 0;
        right: 0; // ensures menu collapses on right hand side
        width: 0;
        min-height: 100vh;
        background-color: var(--bg-color);
        transition: all 0.6s ease-in-out;
        overflow: hidden;
        z-index: 1;
    }

    .menu-elements.active {
        width: 100%;
    }

    .menu-elements ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50%;
    }

    .navbar .menu-items li {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0;
    }
}    

@media (max-width: $bs-breakpoint-xs) {
    .navbar .heading {
        display: none;
    }   
}