.fleet-and-costs .specifications p {
    margin: 0;
}

.fleet-and-costs ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.fleet-and-costs .img {
    height: auto;
    max-width: 60vw;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.fleet-and-costs .cost-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1.5px solid black;
    border-radius: 8px;
    padding: 10px;
}

.fleet-and-costs .note {
    color: grey;
    font-size: 0.9rem;
}

.cost-grid .block {
    min-height: 40px;   
}