@import '../stylesheet.scss';

.home {
    .section-1 {
        .heading {
            margin: 16px 0;
            font-weight: 300;
        }

        .body {
            font-size: 1.25rem;
            margin: 0 0 50px 0;
        }

        .links {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 10px;

            .link {
                display: flex;
                justify-content: center;
                text-decoration: none;
                padding: 30px;
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: 300;
                color: white;
                background-color: var(--primary-color);
                box-shadow: 0 14px 26px rgba(0, 0, 0, 0.10);
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: #0a5dbd;
                    transform: translateY(-5px) scale(1.005) translateZ(0);
                    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.20);
                }
            }
        }
    }

    .section-2 {
        background-color: var(--primary-color);
        padding: 150px 15px;  

        .heading {
            font-weight: 300;
            margin: 0;
            color: white;
        }

        .body, a {
            color: white;
        }

        .container {
            display: grid;
            grid-template-columns: 380px 1fr;
            gap: 30px;
            max-width: 1000px;
            margin: 0 auto;
        }
    }

    .section-3 {
        .copy {
            text-align: flex-start;
            margin: 0 0 30px 0;
        }

        .heading {
            margin: 16px 0;
            font-weight: 300;
        }
    }
}

@media (max-width: $bs-breakpoint-sm) {
    .home {
        .section-1 {
            .body {
                font-size: 1.1rem;
            }

            .links {
                display: block;

                .link {
                    margin: 10px 0;
                }
            }
        }
    }
}

@media (max-width: $bs-breakpoint-lg) {
    .home {
        .section-2 {
            padding: 20px 15px 80px;      
    
            .container {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
}