@import '../stylesheet.scss';

.post-solo {
    li {
        list-style-type: "• ";
    }

    ul {
        color: var(--tertiary-color);
        font-weight: 200;
        margin: 0 0 0 15px;
        padding: 0;
    }
}