@import 'src/App.scss';

.soaring .diagrams {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.soaring img {
    border-radius: 5px;
    border: 0.5px solid black;
    max-width: 100%;
    height: 230px;
}

.soaring .caption {
    color: rgba(128, 128, 128, 0.6);
    padding-top: 10px;
    text-align: center;
}
  
@media (max-width: $bs-breakpoint-lg) {
    .soaring .diagrams {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .soaring img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: $bs-breakpoint-sm) {
    .soaring img {
        width: inherit;
        height: -webkit-fill-available;
    }
}
  