.footer {
    background-color:  var(--highlight-color);
    position: relative;
    padding: 0 10px;
    bottom: 0;
    justify-content: center;
    flex-shrink: 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .content {
    text-decoration: none;
}

.footer .items {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer .img {
    height: 60px;
    width: auto;
}

.footer .title {
    margin-left: 10px;
    color: var(--primary-color);
    inline-size: 150px;
}

.title:hover {
    color: var(--tertiary-color);
}

.footer .button {
    display: flex;
    align-items: center;
}

/* social media icons */
.footer .buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer .spacing {
    padding-right: 15px;
}

.navbar__toggle {
    color: var(--primary-color);
    text-decoration: underline;
}

.footer .buttons a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer .buttons a:hover {
    color: var(--tertiary-color);
}