.footer {
    background-color:  var(--highlight-color);
    position: relative;
    padding: 20px 15px;
    bottom: 0;
    justify-content: center;
    flex-shrink: 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .grid {
    display: grid;
    grid-template-columns: 1fr;
}

.footer .content {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .img {
    height: 50px;
    width: auto;
}

.footer h4 {
    margin-left: 10px;
    color: var(--primary-color);
    margin: 5px 0;
}

.title:hover {
    color: var(--tertiary-color);
}

.footer .address {
    text-decoration: none;
    color: var(--primary-color);
}

.footer .address:hover {
    color: var(--tertiary-color);
}


.footer .button {
    display: flex;
    align-items: center;
}

/* social media icons */
.footer .buttons {
    display: flex;
}

.footer .spacing {
    padding-right: 15px;
}

.navbar__toggle {
    color: var(--primary-color);
    text-decoration: underline;
}

.footer .buttons a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer .buttons a:hover {
    color: var(--tertiary-color);
}

@media (max-width: 600px) {
    .footer .container {
        display: block;
    }

    .footer .buttons {
        margin-top: 20px;
        align-items: end;
    }

    .footer .spacing {
        padding-right: 10px;
    }
}