.home-links {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.home-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 10px 10px rgb(151, 200, 236, 60%);
}

.home-links .button {
    color: black;
    border: 2px solid var(--secondary-color);
}

.home-links .button:hover {
    background-color: var(--highlight-color);
    color: white;
    border: 2px solid rgb(0 0 0 / 15%);
}

@media (max-width: 375px) {
    .home-links {
        display: block;
    }
}
