.home_committee-member-name {
    font-size: 1.2rem;
}

.home__committee-member-position {
    font-weight: 900;
}

.home .slogan {
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px rgb(151, 200, 236, 50%);
}

.home .body {
    text-align: center;
    font-size: 1em;
    margin: 40px 0;
}