.video .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.video h2 {
    text-align: center;
    text-shadow: 3px 3px rgb(151, 200, 236, 50%);
}

.video .youtube-video {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    border: none;
}

.video .caption {
    font-size: 100px;
    position: absolute;
    color: rgba(128, 128, 128, 0.6);
    padding-top: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .video .youtube-video {
        height: 250px;
    }
}